.content_category-container .content_catagory-carousel-control-prev {
    opacity: 0.5 !important;
    visibility: visible !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
    top: 50%;
    transform: translateY(-50%);
    left: calc(0% - 2.1rem);
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s !important;
}

.content_catagory-carousel-control-prev .carousel-control-prev-icon {
    width: 35%;
    height: 35%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.content_catagory-carousel-control-next .carousel-control-next-icon {
    width: 35%;
    height: 35%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.content_category-container .content_catagory-carousel-control-prev:hover {
    opacity: 1 !important;
    height: 5.5rem !important;
    width: 5.5rem !important;
    right: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 0px !important;
}

.content_category-container .content_catagory-carousel-control-next {
    opacity: 0.5 !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
    top: 50% !important;
    transform: translateY(-50%);
    right: calc(0% - 2.1rem);
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s;
}

.content_category-container .content_catagory-carousel-control-next:hover {
    opacity: 1 !important;
    height: 5.5rem !important;
    width: 5.5rem !important;
    right: calc(0% - 2rem);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 0px !important;
}

.sale_carousel-inner .carousel-item {
    transition: all ease 0.4s;
}
