* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.header_app {
    position: sticky;
    top: 0%;
    z-index: 6;
    overflow: visible;
    background-image: linear-gradient(180deg, #F7442E, #FD6132);
}

.header_nav {

    width: 100%;
    min-height: 50px;
}

.header_nav .header_nav-grind {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: transparent;
}

.header_nav .header_nav-grind-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav_container .header_nav_container-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0.5rem;
}

.header_nav_container-list .header_nav_container-list-item {
    padding: 0.4rem;
    font-size: 1.38rem;
    color: #FEFFF2;
    margin-right: 0.5rem;
    position: relative;
}

.header_nav_container-list-item .header_nav_container-list-item-link {
    text-decoration: none;
    color: #FEFFF2;
}

.header_nav_container-list-item-link .header_nav_container-list-item-link-text {
    font-weight: 400;
}

.header_nav_container-list-item-link .header_nav_container-list-item-link-icon-left {
    font-size: 1.6rem;
    vertical-align: text-bottom;
    text-align: start;
    margin-right: 0.6rem;
}

.header_nav_container-list-item-link .header_nav_container-list-item-link-icon-right {

    font-size: 1.42rem;
    margin: 0 0.35rem 0 0.35rem;
}

.header_nav_container-list-left .header_nav_container-list-item-left:not(:first-child)::before {
    content: "";
    border-style: solid;
    border-width: 0 0.2rem 0 0;
    border-color: #F86C5C;
    margin-right: 1rem;
    border-radius: 2rem;
}

.header_nav_container-list-right .header_nav_container-list-item-right:nth-child(5)::before {

    content: "";
    border-style: solid;
    border-width: 0 0.2rem 0 0;
    border-color: #F86C5C;
    margin-right: 1rem;
    border-radius: 2rem;
}

.header_nav_container-list-item-left:hover:not(:last-child) .header_nav_container-list-item-link-left {
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}

.header_nav_container-list-item-right:hover .header_nav_container-list-item-link-right {
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}

.header_download {
    position: absolute;
    background-color: #FFFFFF;
    display: none;
    z-index: 2;
}

.header_download-before::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    top: -5%;
    left: 0.0001%;
    background-color: transparent;
}

.header_download-hasqr-img {
    /* height: 15rem;
    width: 15rem; */
    object-fit: contain;
}

.header_download-hasbrand-img {
    /* height: 20px;
    width: 20px; */
    object-fit: contain;
}

.header_nav_container-list-item:hover .header_download {
    display: block;
}

.header_notification-not {
    position: absolute;
    background-color: #FFFFFF;
    right: 5%;
    cursor: pointer;
    width: 39rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-top: 1rem;
    transform-origin: 85% 0;
    animation: header_nofication ease-in 0.25s;
    z-index: 2;
    display: none;

}

@keyframes header_nofication {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header_notification-not::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid #FFFFFF;
    top: -2.5%;
    left: 85%;
    position: absolute;
    z-index: 3;
}

.header_notification-not .header_notification-container {
    overflow: hidden;

}

.header_notification-grid-item-img {
    width: 100%;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_notification-grid-item-img .item-img {
    height: 33%;
    width: 33%;
    object-fit: contain;

}

.header_notification-grid .header_notification-grid-item-link {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    background-color: #F5F5F5;

}

.header_notification-grid:hover .header_notification-grid-item-register-link:hover {
    color: #F7442E;
    background-color: #E8E8E8;
}

.header_notification-grid:hover .header_notification-grid-item-login-link:hover {
    color: #F7442E;
    background-color: #E8E8E8;
}

.header_nav_container-list-item:hover .header_notification-not {
    display: block;
}

.dropdown_notification-has-item {
    width: 45rem;
    position: absolute;
    min-height: 20rem;
    z-index: 10;
    right: 0%;
    top: 100%;
    transform-origin: 90% top;
    background-color: #FFFFFF;
    animation: dropdown_notification-has-item-in ease-in 0.3s;
    display: none;
}

.dropdown_notification-has-item-before::after {
    height: 1.5rem;
    width: 100%;
    content: "";
    background-color: transparent;
    position: absolute;
    bottom: 100%;
}

@keyframes dropdown_notification-has-item-in {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}



@keyframes animateToBottom {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }

    to {
        transform: translate3d(0, 10px, 0);
        opacity: 0
    }
}

.dropdown_notification-has-item::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid #FFFFFF;
    position: absolute;
    top: -1.9%;
    left: 88%;
    z-index: 1;

}

.dropdown_notification-grid .notification_wrap-text {
    color: #D7D7D7;
    font-size: 1.5rem;
}

.container_wrap .container_wrap-img {
    width: 4.5rem;
    height: 4.5rem;
    border-color: black;
    border-radius: 0.4rem;
    border-style: solid;
    border-width: 0.1rem;
    object-fit: contain;
    overflow: hidden;
}

.container_wrap-warning-infomation .container_wrap-warning {
    width: 100%;
    max-height: 3rem;
    color: #818181;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5rem;
    overflow: hidden;
}

.container_wrap-warning-infomation .container_wrap-infomation {
    width: 100%;
    max-height: 6rem;
    color: #BCBCBC;
    font-size: 1.3rem;
    overflow: hidden;
}

.dropdown_notification-grid .notification_footer {
    color: #606060;
    text-align: center;
    background-color: #FAFAFA;
}

.notification_wrap-container .container_wrap:hover {
    background-color: #F8F8F8;
}

.dropdown_notification-grid .notification_footer:hover {
    background-color: #F8F8F8;
}

.header_nav_container-list-item:hover .dropdown_notification-has-item {
    display: block;
}

.header_language {
    position: absolute;
    width: 21rem;
    right: -2%;
    background-color: #FFFFFF;
    transform-origin: 65% 0;
    animation: header_language ease-in-out 0.25s;
    display: none;
    z-index: 2;
}

@keyframes header_language {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header_language::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid #FFFFFF;
    top: -10%;
    left: 65%;
    position: absolute;
    z-index: 2;
}

.header_language-row .header_language-item {
    color: black;
    font-size: 1.5rem;
}

.header_language-row:hover .header_language-item-Vietnamese:hover {
    color: #FD6132;
}

.header_language-row:hover .header_language-item-English:hover {
    color: #FD6132;

}

.header_nav_container-list-item:hover .header_language {
    display: block;
}

.header_main-wrap-brand .header_main-wrap-brand-img {
    height: 5rem;
}

.header_main-grid .header_main-wrap-search {
    width: 85rem;
    height: 4rem;
    background-color: #FFFFFF;
}

.header_main-wrap-search .header_main-wrap-search-input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    text-align: start;
}

.header_main-wrap-search .header_main-wrap-search-input:focus {
    border: none;
    outline: none;
}

.header_main-wrap-search .header_main-wrap-search-wrap-icon {
    background-color: #FB652B;
    height: 87%;
    width: 6rem;
    top: 6.5%;
    left: 92.5%;
    border-radius: 0.2rem;
    color: wheat;
    z-index: 1;
}

.header_main-wrap-search-wrap-icon .header_main-wrap-search-wrap-icon-item {
    font-size: 1.5rem;
    font-weight: 600;
}

.header_under_input .under_input-link {
    text-decoration: none;
    color: #FFE7EB;
    font-size: 1.3rem;
    font-weight: 400;
}

.header_main-wrap-icon {
    height: 4rem;
    width: 3.5rem;
    cursor: pointer;
}

.header_main-wrap-icon .header_main-wrap-icon-item {
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

.header_main-wrap-icon .set-icon-cart {
    z-index: 3;
    text-align: center;
    line-height: 1.5rem;
    height: 2rem;
    width: 2.5rem;
    border-style: solid;
    border-color: #F55630;
    border-width: 0.3rem;
    border-radius: 1rem;
    color: #F55630;
    font-size: 1rem;
    font-weight: bold;
    background-color: #FFFFFF;
    bottom: 70%;
    left: 70%;
    z-index: 2;
    cursor: pointer;
}

.dropdowm-cart {
    background-color: #FFFFFF;
    left: 62%;
    top: 14.5%;
    width: 41.5rem;
    height: 28rem;
    z-index: 3;
    transform-origin: 95% top;
    animation: header_dropdown-cart ease-in 0.3s;
    display: none;
}

.dropdowm-cart::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -3.5%;
    left: 90%;
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid #FFFFFF;
}

@keyframes header_dropdown-cart {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.dropdown_cart-grid .wrap-img {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.wrap-img .item-img {
    width: 33%;
    height: 33%;
    object-fit: contain;
}

.wrap-img .item-text {
    font-size: 1.5rem;
    color: #4E4E4E;
}

/* .header_main-wrap-icon:hover .dropdowm-cart {
    display: block;
} */
.dropdown_cart-has-item {
    width: 43rem;
    min-width: 20rem;
    background-color: #FFFFFF;
    top: 110%;
    right: -43%;
    box-sizing: border-box;
    flex-direction: row;
    animation: dropdown_cart-has-item ease-in-out 0.25s;
    display: none;
    z-index: 3;
}

@keyframes dropdown_cart-has-item {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.dropdown_cart-has-item::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid #FFFFFF;
    top: -2.9%;
    left: 89%;
}

.dropdown_cart-has-item::after {
    content: "";
    width: 31.5%;
    height: 4.5rem;
    background-color: transparent;
    position: absolute;
    bottom: 100%;
    left: 68.5%;
}

.header_dropdown-wrap-row .header_dropdown-wrap-text {
    font-size: 1.7rem;
    background-color: transparent;
    color: #CDCDCD;
    font-weight: 400;
}

.header_dropdown-wrap-row .header_dropdown-wrap-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_dropdown-wrap-item .header_dropdown-item-img {
    height: 3.5rem;
    width: 5rem;
    object-fit: contain;
    display: block;
    border-style: solid;
    border-width: 0.01rem;
}

.header_dropdown-wrap-item .header_dropdown-item-warning {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    color: red;
    text-align: center;
}

.header_dropdown-wrap-item .dropdown-item-text {
    display: block;
    height: 2rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header_dropdown-wrap-item .dropdown-item-price {
    color: #EE4D2D;
    font-size: 1.4rem;
    font-weight: 500;
}

.header_dropdown-wrap-row .header_dropdown-wrap-item:hover {
    background-color: #F8F8F8;
}

.header_dropdown-footer .header_dropdown-footer-item1 {
    font-size: 1.3rem;
    text-align: center;
}

.header_dropdown-footer .header_dropdown-footer-item2 {
    background-color: #D41830;
    border-radius: 0.3rem;
}

.header_dropdown-footer-item2 .header_dropdown-footer-item2-link {
    color: #F7D3D8;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.header_main-wrap-icon:hover .dropdown_cart-has-item {
    display: block;
}

.header_dropdown-search {
    top: 100%;
    width: 92%;
    min-height: 1rem;
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: #FFFFFF;
    z-index: 10;
    overflow: initial;
    cursor: pointer;
    display: none;
}

.header_dropdown-search-row .header_dropdown-wrap-top {
    text-align: start;
}

.header_dropdown-wrap-top .icon-top {
    font-size: 1.4rem;
    color: #F17860;
    vertical-align: text-bottom;
}

.header_dropdown-wrap-top .text-top {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    color: #525252;

}

.header_dropdown-search-row .dropdown_wrap-list {
    list-style-type: none;
}

.dropdown_wrap-item .dropdown_wrap-item-link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #202020;
    font-size: 1.3rem;
    font-weight: 400;
}

.header_dropdown-search-row .header_dropdown-wrap-top:hover {
    background-color: #ececec;
}

.dropdown_wrap-list .dropdown_wrap-item:hover {
    background-color: #ececec;
}

.header_main-wrap-search-input-focus:focus~.header_dropdown-search {
    display: block;
}