* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}


.carousel-indicators button {
    display: inline-block;
    margin-right: 1rem !important;
    cursor: pointer;
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid rgba(138, 138, 138, 0.4) !important;
}

.carousel-item .carousel-item-img {

    width: 81.5rem !important;
    height: 23.5rem !important;
    z-index: 1 !important;

}

.carousel-indicators .active {
    width: 1rem !important;
    height: 1rem !important;
    margin-right: 1rem !important;
    background-color: #EE4D2D !important;
}

.carousel .carousel-control-prev {
    width: 2.5rem !important;
    height: 7rem !important;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    transition: all 0.3s;
    left: 0%;
    opacity: 0;
    visibility: hidden;
}

.carousel-slide .carousel-control-next {
    width: 2.5rem !important;
    height: 7rem !important;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    transition: all 0.3s;
    opacity: 0;
    right: 0%;
    visibility: hidden;
}

.carousel-slide:hover .carousel-control-prev {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.18);
    opacity: 1;
}

.carousel-slide:hover .carousel-control-next {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.18);
    opacity: 1;
}

.carousel-slide .carousel-inner {
    z-index: -1;
}

.content_carousel-item-right .carousel_right_wrap-item {
    flex-direction: column;
    background-color: #FFFFFF;
}

.carousel_right_wrap-item .item-img {
    width: 40rem !important;
    max-height: 11.5rem !important;
}

.under_carousel-grid .under_carousel-wrap {
    height: 10rem;
    width: 10.5rem;
    overflow: hidden;
}

.under_carousel-wrap .link_wrap-img {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

}

.under_carousel-wrap .link_wrap-img .item-img {
    max-height: 5rem;
    max-width: 5rem;
    object-fit: contain;
    text-decoration: none;
}

.under_carousel-wrap .link_wrap-img .item-text {
    color: black;
}

.under_carousel-grid .under_carousel-wrap:hover {
    padding-bottom: 0.5rem;
}

.content_category .content_category-container {
    background-color: #FFFFFF;
}

.content_category-grid .content_category-top {
    font-size: 1.5rem;
    height: 6rem !important;
}

.carousel-inner .catagory_carousel-item-row {
    border-top: 1px solid rgba(0, 0, 0, .04);

}

.carousel-inner .catagory_carousel-item-row .content_category-bottom-wrap {

    text-decoration: none;
    height: 15rem;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.catagory_carousel-item-row .content_category-bottom-wrap .item-img {
    height: 9.5rem;
    object-fit: contain;
}

.catagory_carousel-item-row .content_category-bottom-wrap .item-text {
    color: #595959;
    font-size: 1.45rem;
    font-weight: 500;
    text-align: center;
    height: 5rem;
    overflow: hidden;
}

.carousel-inner .catagory_carousel-item-row .content_category-bottom-wrap:hover {
    transform: translateZ(0);
    z-index: 1;
    border-color: rgba(0, 0, 0, .12);
    border-width: 1px;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, .05);
}

.content_category-container .content_catagory-carousel-control-prev {
    opacity: 0.5 !important;
    visibility: visible !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
    left: calc(0% - 2.1rem);
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s !important;
}

.content_catagory-carousel-control-prev .carousel-control-prev-icon {
    width: 35%;
    height: 35%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.content_catagory-carousel-control-next .carousel-control-next-icon {
    width: 35%;
    height: 35%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.content_category-container .content_catagory-carousel-control-prev:hover {
    opacity: 1 !important;
    height: 5.5rem !important;
    width: 5.5rem !important;
    right: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 0px !important;
}

.content_category-container .content_catagory-carousel-control-next {
    opacity: 0.5 !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
    top: 50% !important;
    transform: translateY(-50%);
    right: calc(0% - 2.1rem);
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s;
}

.content_category-container .content_catagory-carousel-control-next:hover {
    opacity: 1 !important;
    height: 5.5rem !important;
    width: 5.5rem !important;
    right: calc(0% - 2rem);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 0px !important;
}

.sale_top-wrap-grid .top_wrap-left .wrap-item .item-countdown {
    height: 2rem;
    width: 10%;
    font-size: 1.1rem;
    font-weight: 500;
    vertical-align: text-bottom;
    text-align: center;
    background-color: black;
    color: white;
}

.sale_top-wrap-grid .top_wrap-right {
    text-decoration: none;
    color: #EE4D2D;
    font-size: 1.2rem;
    font-weight: bold;
}

.sale_carousel-grid .sale_carousel-wrap {
    text-decoration: none;
    color: #EE4D2D;
    background-color: #FFFFFF;
}

.sale_carousel-wrap .sale_wrap-product::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 3;
    width: 0;
    height: 0;
    border-top: 0.4rem solid;
    border-left: 0.4rem solid transparent;
    filter: brightness(60%);
    left: 0%;
    top: calc(5% + 1.4rem);
}

.sale_wrap-product .item-img {
    height: 17rem;
    width: 17rem;
    object-fit: contain;
}

.sale_wrap-product .img-destination {
    height: 1.3rem;
    object-fit: contain;
    background-color: rgb(208, 1, 27);
    top: 5%;
    z-index: 3;
}

.sale_wrap-product .item-wrap-per {
    width: 24%;
    text-align: end;
    color: #F35830 !important;
    top: 0%;
    right: 0%;
    background-color: #FFE97A;
    font-size: 1.4rem;
    font-weight: bold;
    z-index: 3;
}

.item-wrap-per .item-icon {
    color: #F35830;
    z-index: 4;
    font-size: 1.9rem;
    left: -10%;
    top: 0%;
}

.sale_carousel-wrap .sale_wrap-price {
    font-size: 1.8rem;
    font-weight: 500;
}

.sale_carousel-wrap .sale_wrap-price .item-icon {
    font-size: 1.3rem;
    top: 0%;
    transform: translateX(-1rem);
}

.sale_carousel-wrap .content_sale-progress {
    height: 1.8rem;
    width: 75%;
    background-color: #FFBDA6;
}

.content_sale-progress .sale_progress-img {
    width: 1.8rem;
    left: 1%;
    top: 50%;
    transform: translateY(-60%);
    z-index: 2;
}

.sale_carousel-wrap .content_sale-progress .sale_progress-text {
    z-index: 2;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.content_sale-progress .content_sale-progress-item {
    background-color: #EF3713;
}

.sale_main-carousel-slide .sale_carousel-prev {
    opacity: 0.5 !important;
    visibility: visible !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
    left: calc(0% - 2.1rem);
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s !important;
}

.sale_carousel-prev .sale_carousel-prev-icon {
    width: 35%;
    height: 35%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.sale_carousel-next .sale_carousel-next-icon {
    width: 35%;
    height: 35%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.sale_main-carousel-slide .sale_carousel-prev:hover {
    opacity: 1 !important;
    height: 5.5rem !important;
    width: 5.5rem !important;
    right: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 0px !important;
}

.sale_main-carousel-slide .sale_carousel-next {
    opacity: 0.5 !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
    top: 50% !important;
    transform: translateY(-50%);
    right: calc(0% - 2.1rem);
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.3s;
}

.sale_main-carousel-slide .sale_carousel-next:hover {
    opacity: 1 !important;
    height: 5.5rem !important;
    width: 5.5rem !important;
    right: calc(0% - 2rem);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 0px !important;
}

.sale_carousel-inner .carousel-item {
    transition: all ease 0.4s;
}