* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.carousel-indicators button {
    display: inline-block;
    margin-right: 1rem !important;
    cursor: pointer;
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid rgba(138, 138, 138, 0.4) !important;
}

.carousel-item .carousel-item-img {

    width: 81.5rem !important;
    height: 23.5rem !important;
    z-index: 1 !important;

}

.carousel-indicators .active {
    width: 1rem !important;
    height: 1rem !important;
    margin-right: 1rem !important;
    background-color: #EE4D2D !important;
}

.carousel .carousel-control-prev {
    width: 2.5rem !important;
    height: 7rem !important;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    transition: all 0.3s;
    left: 0%;
    opacity: 0;
    visibility: hidden;
}

.carousel .carousel-control-next {
    width: 2.5rem !important;
    height: 7rem !important;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    transition: all 0.3s;
    opacity: 0;
    right: 0%;
    visibility: hidden;
}

.carousel:hover .carousel-control-prev {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.18);
    opacity: 1;
}

.carousel:hover .carousel-control-next {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.18);
    opacity: 1;
}

.carousel .carousel-inner {
    z-index: -1;
}

.content_carousel-item-right .carousel_right_wrap-item {
    flex-direction: column;
}

.carousel_right_wrap-item .item-img {
    width: 40rem !important;
    max-height: 11.5rem !important;
}

/* .under_carousel-item {
    height: 10rem;
    width: 15rem;
}

.under_carousel .under_carousel-item {
    text-align: center;
    max-height: 10rem;
    max-width: 10rem;
}

.under_carousel-item .link_wrap-text {
    text-decoration: none;
    color: #222222;
    font-size: 1.3rem;
    font-weight: 400;
}

.under_carousel-item .link_wrap-img {
    display: block;
    width: 3;
    height: 5rem;
}

.under_carousel-item .link_wrap-img .item-img {
    max-width: 3rem;
    min-height: 2rem;
    object-fit: contain;
} */
/* .under_carousel-grid .under_carousel-wrap {
    height: 10rem;
    width: 10rem;
}

.under_carousel-wrap .link_wrap-img {
    text-decoration: none;
}

.under_carousel-wrap .link_wrap-img .item-img {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}

.under_carousel-wrap .link_wrap-text {
    
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    overflow: hidden;
} */
.under_carousel-grid .under_carousel-wrap {
    height: 10rem;
    width: 10.2rem;
    overflow: hidden;
}

.under_carousel-wrap .link_wrap-img {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

}

.under_carousel-wrap .link_wrap-img .item-img {
    max-height: 5rem;
    max-width: 5rem;
    object-fit: contain;
    text-decoration: none;
}

.under_carousel-wrap .link_wrap-img .item-text {
    color: black;
}