* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F5F5F5;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

:root {
    --text-main: #ee4d2d;
    --background-main-orange: #ee4d2d;
    --background-header: linear-gradient(-180deg, #f53d2d, #f63);
    --text-Normal-08: rgba(0, 0, 0, 0.8);
    --background-flast-sale: linear-gradient(-90deg, #f0451e 9%, #f32424 96%);
    --background-main: #FFFFFF;
    --shadow-main-05: 0 1px 1px 0 rgba(0, 0, 0, .05);
    --vc-card-left-border-color: #fbc9c0;
    --background--sale-05: rgba(208, 1, 27, .08);
    --text-nav: #fff;
    --font-size-nav: 1.35rem;
    --font-size-icon-nav: 1.5rem;
    --background-btn-dropdown-notification: rgba(0, 0, 0, 0.05);
    --background-btn-dropdown-notification-hover: rgba(0, 0, 0, 0.1);
    --text-while-026: rgba(0, 0, 0, .26);
    --text-grey: rgba(0, 0, 0, .26);
    --background-content: #F5F5F5;
    --background-slider-btn: rgba(0, 0, 0, 0.2);
    --background-discounts-option: rgba(208, 1, 27, 0.08);
    --text-discounts-option: rgb(208, 1, 27);
    --text-grey-1: #636363;
    --background-btn: rgb(208, 1, 27);
    --text-price: #d0011b;
    --background-sale: #d0011b;
    --text-white: #fff;
    --text-black: #000;
    --background-modal-address-map: #fff8e4;
    --text-modal-address-map: #f69113;
    --text-background-hover: #f5f5f5;
}

body {
    background-color: var(--background-content);
}

.content_detail-container .content_detail-grid .detail_top {
    background-color: transparent;
}

.content_detail-container .content_detail-grid .detail_top .item-link {
    text-decoration: none;
    font-size: 1.25rem;
}

.content_detail-container .content_detail-grid .detail_top .item-icon {
    color: var(--text-grey);
    font-weight: 700;
    font-size: 1.1rem;
}

.content_detail-container .content_detail-grid .detail_top .item-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}

.detail_products-grid .products_left .detail_img-button {
    background-color: var(--background-slider-btn);
    color: white;
    font-size: 2rem;
    height: 5rem;
    width: 2rem;
    border: none;
}

.detail_products-grid .products_left .detail_img-button-next {
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.detail_products-grid .products_left .detail_img-button-prev {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);

}

.products_left .footer_left .footer_left-wrap .item-text {
    font-size: 1.5rem;
}

.products_left .footer_left .footer_left-wrap .item-link {
    font-size: 2.3rem;
    text-decoration: none;

}

.products_left .footer_left .footer_right-wrap .item-link {
    text-decoration: none;
    font-size: 2.3rem;
    color: var(--text-main);
    vertical-align: middle;
}

.products_left .footer_left .vertical {
    content: "";
    color: var(--text-grey);
    font-size: 1.5rem;

    height: 100%;
}

.products_left .footer_left .footer_right-wrap .item-text {
    font-size: 1.6rem;
}

.products_left .detail_img .detail_img-gird {
    cursor: pointer;
}

.products_left .detail_img .detail_img-gird .item-img:hover {
    border-color: var(--text-main);
    border: 0.2px 0.2px;
    border-style: solid;
}

.products_right-grid .wrap-describe .item-text {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.products_right-grid .wrap-rate .wrap-rate-grid .item-link {
    text-decoration: none;
    font-size: 1.1rem;
}

.products_right-grid .wrap-rate .wrap-rate-grid .item-link-top {
    color: var(--text-main);
}

.products_right-grid .wrap-rate .wrap-rate-grid .item-link .item-text-top {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.5rem;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
}


.products_right-grid .wrap-sale {
    max-height: 5rem;
    background-repeat: no-repeat;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/4323ad4dc2b3c72d0474.jpg), linear-gradient(-90deg, #f0451e 9%, #f32424 96%)
}

.products_right-grid .wrap-price .wrap_price-grid .item-price-initial {
    font-size: 2rem;
    color: var(--text-grey);
    font-weight: 500;
    text-decoration: line-through;

}

.products_right-grid .wrap-price .wrap_price-grid .item-price-initial .item-value {
    font-size: 1.5rem !important;
    vertical-align: text-top;
    text-decoration: underline;
    text-underline-offset: 1px;
}

.products_right-grid .wrap-price .wrap_price-grid .item-price-Presents {
    font-size: 3rem;
    color: var(--text-price);
    font-weight: 400;
}

.products_right-grid .wrap-price .wrap_price-grid .item-price-Presents .item-value {
    font-size: 1.85rem !important;
    vertical-align: text-top;
    text-decoration: underline;
    text-underline-offset: 1px;
    font-weight: 400 !important;

}

.products_right-grid .wrap-price .wrap_price-grid .item-sale {
    background-color: var(--background-sale);
    color: var(--text-white);
    font-weight: 500;
    font-size: 1.3rem;
}

.wrap-Discounts-grid .item-Discounts-info {
    font-size: 1.55rem;
    line-height: 1.5rem;
    color: var(--text-grey);
    font-weight: bold;
}

.wrap-Discounts-grid .wrap-Discounts-option .wrap-Discounts-option-grid-wrap .wrap-Discounts-option-grid .item-per {
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--background-discounts-option);
    color: var(--text-discounts-option);
    text-align: center;
}

.wrap-Discounts-grid .wrap-Discounts-option .wrap-Discounts-option-grid-wrap .wrap-Discounts-option-grid .item-per:last-child {
    background-color: rgba(208, 1, 27, 0.05);
    color: rgba(208, 1, 27, 0.4);
}

.wrap-Discounts-grid .wrap-Discounts-option .wrap-Discounts-option-grid-wrap .item-text {
    font-size: 1.4rem;
    color: var(--text-discounts-option);
    font-weight: 500;



}

.wrap-Discounts-grid .wrap-Discounts-option .wrap-Discounts-option-grid-wrap .dropdown_discounts {
    background-color: var(--background-main);
    width: 70%;
    box-sizing: border-box;
}

.dropdown_discounts-grid .item-text-top {
    font-size: 1.5rem;
    font-weight: 500;
}

.dropdown_discounts-grid .item-benefit {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-grey-1);
}

.dropdown_discounts-grid .wrap-overflow {
    max-height: 30rem;
    overflow: auto;
}

.dropdown_discounts-grid .wrap-overflow .wrap-cart {
    background-color: var(--background-main);
}

.dropdown_discounts-grid .wrap-overflow .wrap-cart-grid .wrap-info .wrap-info .item-text-sale-max {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-black);
}

.dropdown_discounts-grid .wrap-overflow .wrap-cart .wrap-cart-grid .wrap-info .wrap-info .item-text-bill {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-black);
}

.dropdown_discounts-grid .wrap-overflow .wrap-cart .wrap-cart-grid .wrap-info .wrap-info .item-text-expiry {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-grey-1);
}

.dropdown_discounts-grid .wrap-overflow .wrap-cart .wrap-cart-grid .wrap-btn .item-text {
    background-color: var(--background-btn);
    color: white;
    width: 100%;
    transform: translateX(0%);
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}

.wrap-Discounts-option-grid-wrap .dropdown_discounts {
    top: 5rem;
    right: 48%;
    display: none;
}

.products_right .wrap-Discounts:hover .dropdown_discounts {
    display: block;
}

.wrap-Discounts-option-grid-wrap .dropdown_discounts::before {
    content: "";
    height: 10rem;
    width: 75rem;
    background-color: transparent;
    position: absolute;
    top: -20%;

}

.wrap-Discounts-option-grid-wrap .dropdown_discounts::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;

    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--text-black);
    border-right: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    top: calc(0% - 0.5rem);
    left: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0.3;
}

.wrap_transport-grid .item-text-left {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-grey);
}

.wrap_transport-grid .wrap-introduce .wrap_introduce-gird .item-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-black);
}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .item-text-info {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-grey-1);
}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .item-text-info .item-icon {
    font-size: 1.5rem !important;
}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .modal_anddress-btn {
    text-decoration: none;
}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .modal_anddress-btn .item-text {
    font-size: 1.4rem;
    color: var(--text-black);
    font-weight: 400;


}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .modal_anddress-btn .item-text .item-icon {
    color: var(--text-grey);
    font-weight: 600;
}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .modal_anddress-btn:focus,
.modal_anddress-btn:active {
    outline: none !important;
    box-shadow: none;
}

.wrap-introduce .wrap_introduce-gird .wrap-transportto .modal_anddress .modal_anddress-dialog {
    top: 30%;
}

.modal_anddress-dialog .modal_anddress-content .modal_anddress-header .modal_anddress-title {
    font-size: 1.65rem;
    color: var(--text-black);
    font-weight: 450;
}

.modal_anddress-body-grid .item-search {
    outline: none;
    font-size: 1.5rem;
    color: var(--text-grey-1);
    font-weight: 450;
    height: 3.8rem;
    outline: none;

    background-color: transparent;
}

.modal_anddress-body-grid .item-btn {
    font-size: 1.5rem;
    width: 20%;
    border-color: transparent;
    color: var(--text-white);
    background-color: var(--background-main-orange);
}

.modal_anddress-body-grid .item-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.modal_anddress-body-grid .item-text-use-address-present {
    font-size: 1.5rem;
    color: var(--text-black);
    font-weight: 450;
    cursor: pointer;
}

.modal_anddress-body-grid .item-text-use-address-present .item-icon {
    font-size: 2.5rem;
    vertical-align: text-top;

}

.modal_anddress-body-grid .item-text-address-present {
    font-size: 1.4rem;
    font-weight: 450;
    color: var(--text-black);
}

.modal_anddress-body-grid .item-btn-add-address {
    font-size: 1.4rem;
    color: var(--text-black);
    font-weight: 450;
    background-color: transparent;
}

.modal_anddress-body-grid .item-btn-add-address .item-icon {
    color: var(--text-grey-1);
    font-weight: 600;
    font-size: 1.55rem;

}

.modal_anddress-body-grid .item-text-use-address-present:focus,
.item-text-use-address-present:active {
    outline: none !important;
    box-shadow: none;
}

#modal_anddress-sec .modal-dialog {
    width: 28% !important;
    top: 5%;
    margin: 0 auto;
    overflow: hidden;
}

.wrap_modal_anddress-sec-body .wrap_modal_anddress-sec-container .wrap_modal_anddress-sec-grid .item-access {
    font-size: 1.65rem;
    font-weight: 400;
    color: var(--text-grey-1);
}

.wrap_modal_anddress-sec-grid .wrap-item-accept .item-accept {
    font-size: 1.5rem;
    color: var(--text-white);
    background-color: var(--background-main-orange);
    text-align: center;
    cursor: pointer;
    transition: all 0.25;
}

.wrap_modal_anddress-sec-grid .wrap-item-accept .item-accept:hover {
    opacity: 0.8 !important;
}

.background_modal {
    background-color: rgba(0, 0, 0, .4);
}

#modal_anddress-sec {
    overflow-x: none !important;
}

/* .modal_anddress-third-header {
    border: none !important;
}

.modal_anddress-third-body {
    border: none !important;
} */
.modal_anddress-third-down-content {
    background-color: #fff;
    overflow: visible;
}

.modal_anddress-third-down-grid .item-title {
    font-size: 1.85rem;
    color: var(--text-black);
    font-weight: 400;

}

.modal_anddress-third-body-grid .input-text::first-letter::placeholder {
    text-transform: uppercase;
}

.modal_anddress-third-down-grid .animate-placeholders .input-address {
    height: 4rem;
    font-size: 1.35rem;
    font-weight: 400;
    color: #222;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, .14);


}

.modal_anddress-third-down-grid .animate-placeholders .input-address:focus {
    outline: none;
    opacity: 1;
    border-color: black;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .05);
    transition: all 0.9s;
}

.modal_anddress-third-down-grid .wrap-input-city .input-address {
    height: 4rem;
    font-size: 1.55rem;
    font-weight: 400;
    color: #222;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, .14);

}

.modal_anddress-third-down-grid .wrap-input-city .input-address:focus {
    outline: none;
    opacity: 1;
    border-color: black;
    transition: all 0.5 s;
}

.modal_anddress-third-down-grid .wrap-input-city .input-city {
    padding: 0 1rem;
    opacity: 1;
}

.modal_anddress-third-down-grid .wrap-input-city .item-icon {
    top: 50%;
    transform: translateY(50% - 1.5rem);
    right: 1%;
    font-size: 1.5rem;
    opacity: 0.2;
}

.modal_anddress-third-down-grid .wrap-input-address-specifically .input-address-specifically {
    height: 5rem;
    font-size: 1.5rem !important;
    font-weight: 400;
    color: #222;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, .14);
    overflow: hidden;
    resize: none !important;
}

.modal_anddress-third-down-grid .wrap-input-address-specifically .input-address-specifically:focus {
    outline: none;
    opacity: 1;
    border-color: black;
    transition: all 0.1s;
    overflow-y: none;
    resize: none !important;
}




.modal_anddress-third-down-grid .wrap-notification {
    background-color: var(--background-modal-address-map);
}

.wrap-notification .item-text-top {
    font-size: 1.45rem;
    color: var(--text-modal-address-map);

}

.wrap-notification .item-text-warning {
    font-size: 1.29rem;
    font-weight: 400;
    color: var(--text-black);
}

.item-placeholders {
    top: 0%;
    font-size: 1.3rem;
    color: #636363;
    transform: translateY(-50%);
    left: 10%;
    background-color: var(--background-main);

}

.item-placeholders-phone {
    top: 0%;
    font-size: 1.3rem;
    color: #636363;
    transform: translateY(-50%);
    left: 12%;
    background-color: var(--background-main);
}

.input-rim {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .05)
}

.input-red-boder {
    border-color: red !important;
}

.input-red-placeholder::placeholder {
    color: red !important;
}

.input-red-placeholder-trans {
    color: transparent;
}

.input-red-text {
    color: red !important;
}

.item-sub {
    font-size: 1.2rem;
    color: red;

}

#itemSubNameLength {
    display: none;
}

#itemSubName {
    display: none;
}


#itemSubPhone {
    display: none;
}



.dropdown_address {
    box-sizing: border-box;
    display: none;
    overflow: visible;
    z-index: 600 !important;

}

.wrap-input-city .dropdown_address .dropdown_address-container {
    background-color: var(--background-main);
    visibility: visible;
}

.wrap-Province-grid .button-Province {
    font-size: 1.5rem;
    text-align: center;
    visibility: visible;
}

.wrap-Province-grid .horizone-Province {
    height: 0.15rem;
    width: 33.3333333%;
    background-color: var(--background-main-orange);
    bottom: -2%;
    left: 0%;
    transition: all ease 0.15s;

}

.wrap-input-city .dropdown_address {
    display: block;
}

.dropdown_address-grid .wrap-Item-Province {
    max-height: 26.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown_address-grid .wrap-Item-Province .wrap-Item-Province-gird .item-text-Province {
    font-size: 1.45rem;
    font-weight: 400;
    color: var(--text-black);
    cursor: pointer;
    background-color: transparent;
}

.dropdown_address-grid .wrap-Item-Province .wrap-Item-Province-gird .item-text-Province:hover {
    background-color: var(--text-background-hover);
}

.intputCity_animation-color {
    color: var(--text-main) !important;
    transition: all 0.1s;
}