.footer {
    width: 100%;
    min-height: 300px;
    background-color: transparent;
}

.footer .footer_page-center {
    max-width: 100%;
    width: 1200px;
    min-height: 100px;
    margin: auto;
    background-color: transparent;
}

.footer_page-center .footer_page_container {
    width: 100%;
    min-width: 100px;
    padding: 5px;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.footer_page_container .footer_page_container-item {
    width: 240px;
    padding: 5px;
}

.footer_page_container-item .footer_page_container-item-text {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 13.6px;
    box-sizing: border-box;
    font-weight: 500;
}

.footer_page_container-item .footer_page_container-item-list {
    list-style-type: none;
}

.footer_page_container-item-list .footer_page_container-item-list-item {
    margin-bottom: 12px;
    font-size: small;
}

.footer_page_container-item-list-item .footer_page_container-item-list-item-link {
    text-decoration: none;
    overflow: hidden;
    font-size: 13.5px;
    color: rgba(0, 0, 0, .65);
}

.footer_page_container-item-list-item .footer_page_container-item-list-item-link:hover {
    color: #ee4d2d;
}

.footer_page_container-item-list-item .footer_page_container-item-list-item-link-icon {
    text-decoration: none;
    margin-right: 5px;
}

.footer_page_container-item-list-item-link-icon .fa-brands {
    color: #4A4A4A;
    font-size: medium;
    vertical-align: -3px;
}

.footer_page_container-item-list-item-link-icon .fa-brands:active {
    color: #4A4A4A;
}

.footer_page_container-item .footer_page_container-item-list-grind {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.footer_page_container-item-list-grind .footer_page_container-item-brand-list-grind-item {
    width: 52px;
    height: 22px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    flex: 0 0 23.333333%;
    box-shadow: 2px 1px 0 1px rgba(0, 0, 0, .2);
}

.footer_page_container-item-brand-img-qr-link .footer_page_container-item-link-img-qr {
    display: flex;
}

.footer_page_container-item-link-img-qr .footer_page_container-item-brand-img-link {
    display: flex;
    flex-direction: column;
}

.footer_page_container-item-link-img-qr .footer_page_container-item-link-img {
    margin-right: 30px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
}

.footer_page_container-item-brand-img-link .footer_page_container-item-brand-img {
    padding: 2px;
    background-color: #FFFFFF;
}

.footer_page_container-item-brand-img .footer_page_container-item-brand {
    margin-bottom: 8px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
}

.footer_page_container-between-footer_page_container-information {
    border-color: #DCDCDC;
    height: 0;
    border-width: 1px;
    border-style: solid;
}

.footer_page-center .footer_page_container-information {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer_page_container-information .footer_page_container-information-shope {
    color: rgba(0, 0, 0, .54);
    margin-right: 25px;
}

.footer_page_container-information .footer_page_container-information-country {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.footer_page_container-information-country .footer_page_container-information-country-text {
    color: rgba(0, 0, 0, .54);
}

.footer_page_container-information-country .footer_page_container-information-country-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer_page_container-information-country-list .footer_page_container-information-country-list-item {
    padding: 0 5px;
}

.footer_page_container-information-country-list .footer_page_container-information-country-list-item:not(:last-child):not(:last-child) {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #DFDFDF;
}

.footer_page_container-information-country-list-item .footer_page_container-information-country-list-item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}

.footer .footer_infomation {
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    padding: 50px 0;
    font-size: .75rem;
    color: rgba(0, 0, 0, .65);
}

.footer_infomation .footer_infomation-center {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.footer_infomation_container-nav-text-link .footer_infomation_container-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 40px;
}

.footer_infomation_container-nav-list .footer_infomation_container-nav-list-item {
    padding: 0 25px;
}

.footer_infomation_container-nav-list .footer_infomation_container-nav-list-item:not(:last-child) {
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #DFDFDF;
}

.footer_infomation_container-nav-list-item .footer_infomation_container-nav-list-item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .65);
    font-size: 12px;
}

.footer_infomation_container-main-img .footer_infomation_container-main-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_infomation_container-main-list .footer_infomation_container-main-list {
    margin: 0 20px;
}

.footer_infomation_container-main-list-link .footer_infomation_container-main-list-img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    background-color: transparent;
}

.footer_infomation_container-main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 14px;
}

.footer_infomation_container-footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}