.header_logocart {
    margin-top: 20px;
    height: 54px;
    width: 138px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header_logocart-link {
    display: block;
}

.fa-cart-shopping {
    font-size: 20px;
    color: white;
}