.header_notification-card {
    display: none;
    transform-origin: 90% left;
    animation: header_notification-animation ease-in 0.35s;
}

@keyframes header_notification-animation {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_notification-list {
    overflow: auto;
    height: 404px;
    width: 404px;
    list-style-type: none;
}

.header_notification-card {
    height: 480px;
    width: 404px;
    position: absolute;
    border-radius: 4px;
    perspective: 1px;
    right: 2px;
    top: 19px;
    box-sizing: border-box;
}

.header_notification-card-image-text {
    width: 404px;
    max-width: 100%;
    height: 64.8px;
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.header_notification-card-image-text:hover {
    background-color: #F8F8F8;
}

.header_notification-card-information {
    display: block;
    background-color: #FFFFFF;
    color: #D8D8D8;
    width: 404px;
    max-width: 100%;
    height: 40px;
    content: "thông báo Mới Nhận";
    text-align: start;
    padding-top: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    line-height: 5px;
}

.header_notification-link {
    text-decoration: none;
    line-height: 40px;
    color: #676767;
}

.header_notification-card-text-Notification {
    color: #818181;
    font-size: small;
}


.header_notification-card-text-information {
    color: #B5B5B5;
    font-size: 12px;
}

.header_notification-card-image {
    height: 35px;
    width: 29.5px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 5px;
    object-fit: contain;
}

.header_navbar-item:hover .header_notification-card {
    display: block;
}

.header_notification-card::before {
    position: relative;
    content: "";
    border-left: 11.5px solid transparent;
    border-right: 11.5px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    top: -9px;
    z-index: -8;
    left: calc(404px - 16.5%);
}

.header_notification-link-footer {
    position: absolute;
    top: 91%;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #FAFAFA;
    text-align: center;
    color: #676767;

}

.header_notification-link-footer:hover {
    background-color: #F8F8F8;
}

.header_language {
    margin-top: 10px;
    display: none;
    animation: header_language-animation ease-in 0.40s
}

.header_language-list {
    position: absolute;
    list-style-type: none;
    background-color: #FFFFFF;
    height: 75px;
    display: block;
    width: 200px;
    right: 10px;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
    animation: header_language-animation ease-in 0.40s;
}

.header_language::before {
    position: absolute;
    content: "";
    border-left: 10.5px solid transparent;
    border-right: 11.5px solid transparent;
    border-bottom: 10px solid#FFFFFF;
    top: 28px;
    left: 45%;
    animation: header_language-animation ease-in 0.40s
}

.header_language-item {
    cursor: pointer;
    padding: 11px 11px;
    font-size: medium;
    color: black;
    background-color: #FFFFFF;

}

.header_navbar-item:hover .header_language {
    display: block;
}

@keyframes header_language-animation {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header_language-item-english {
    line-height: 10px;
}

.header_language-item:hover {
    color: #F94F30;
}