
.header_suggest-list {
    width: 100%;
    height: 24px;
    list-style-type: none;
    display: flex;

}

.header_suggest-item {
    text-align: center;
    width: 68px;
    height: 24px;
    line-height: 25px;
    display: inline-block;
    margin-left: 10px;
    box-sizing: border-box;
}

.header_suggest-item-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: small;
    font-weight: 100;
}